body {
    background-color: #dedede;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
#navbar {
    background: #70C1B3;
    width: 100%;
    height: 100px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
}

h2 {
    margin: 0 20px;
    text-align: center;
}

 h3 {
    margin-left: 20px;
    font-size: 2em;
}
span {
    margin: 40px 50px 0 0;
    font-size: 1.7em;
}

p {
    padding: 0 20px;
    text-align: left;
}

#main {
    width: 80%;
    margin-left: 10%;
}
h1 {
    text-align: center;
}
.container {
    display: flex;
    margin-bottom: 40px;
}
.first {
    width: 40%;
    margin-left: 5%;
    background: white;
    border: 2px solid black;
    border-radius: 5px;
}
img {
    width: 200px;
    height: 200px;
    margin: 20px 25%;
    border: 1px solid black;
    border-radius: 50%;
}
footer {
    width: 100%;
    height: 50px;
    background: #247BA0;
}
footer p {
    line-height: 50px;
    text-align: center;
    font-size: 1.3em;
}

/* MEDIA QUERIES */

@media (max-width: 800px) {
    img {
        width: 80px;
        height: 80px;
        margin: 10px 50px;
    }

    h2 {
        margin: 0;
        text-align: center;
        font-size: 1.2em;
    }

    p {
        font-size: 0.9em;
    }
}

@media (max-width: 500px) {

    img {
        width: 80px;
        height: 80px;
        margin: 10px 80px;
    }

    #navbar {
            height: 60px;
            border-bottom: 2px solid black;
    }

    h3 {
       margin-left: 10px;
       font-size: 1.5em;
   }
   span {
       margin: 30px 30px 0 0;
       font-size: 1.2em;
   }

    .container {
        display: block;
        margin-bottom: 40px;
    }
    .first {
        width: 80%;
        margin-left: 5%;
        background: white;
        border: 2px solid black;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    footer p {
        font-size: 1.1em;
    }

}
